In [4]:
#### String variables can be declared either by using single or double quotes
x=5;print(x)
y="shrikant"
x='shrikant'
print(x);print(y)

5
shrikant
shrikant

In [3]:
### Python allows you to assign values to multiple variables in one line:
x,y,z="Orange", "Banana", "Cherry"
print(x);print(y);print(z)

Orange
Banana
Cherry

In [5]:
### And you can assign the same value to multiple variables in one line:
x=y=z="Orange";print(x);print(y);print(z)

Orange
Orange
Orange

In [8]:
###To combine both text and a variable, Python uses the + character:
x = "awesome"
print("Python is " + x)

Python is awesome

In [10]:
###You can also use the + character to add a variable to another variable:
x ="Python is ";y ="awesome"
z = x + y;z

'Python is awesome'

In [11]:
###To verify the type of any object in Python, use the type() function:
x = 12E4   # int with E4/e4 as 10^4
y = 2.8  # float
z = 1j+5   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'complex'>

In [13]:
###Convert from one type to another:
k=int(y);h=float(x);g=complex(x)
print(x);print(y);print(g);

120000.0
2.8
(120000+0j)

In [20]:
x=int(1)   # x will be 1
y=int(2.8) # y will be 2
z=int("3") # z will be 3
f=str(2) # y will be '2'
g=str(3.6)  # z will be '3.6'
x;y;z;f;g

'3.6'

In [22]:

###You can use three double quotes:

a = """Hi my name is 
amit"""
print(a)

Hi my name is
amit

In [24]:
###print_letters from string

a = "Hello, World!";print(a[1]);
b = "Hello, World!";print(b[2:5])

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"
print(len(a))
print(a.lower())
print(a.upper())
print(a.replace("H", "J"))
print(a.split(",")) # returns ['Hello', ' World!']

e
llo
Hello, World!
15
 hello, world!
 HELLO, WORLD!
 Jello, World!
[' Hello', ' World! ']

In [28]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [31]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {0} pieces of item {1} for {2} dollars."
print(myorder.format(quantity, itemno, price))

I want 567 pieces of item 3 for 49.95 dollars.

In [32]:
list = ["apple", "banana", "cherry"]
print(list)
print(list[1])

['apple', 'banana', 'cherry']
banana

In [50]:
#Change element of string and add new elements to last string
list = ["apple", "banana", "cherry"]
list[1] = "blackcurrant"
print(list)
list.append("orange")
print(list)
print(len(list))
list.insert(2, " mango")
list.remove("blackcurrant")
print(list)

['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'cherry', 'orange']
4
['apple', ' mango', 'cherry', 'orange']

In [37]:
list = ["apple", "banana", "cherry"]
if "apple" in list:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [52]:
list = ["apple", "banana", "cherry"]
del list[0]
print(list)
list.clear()
print(list)

['banana', 'cherry']
[]

In [53]:
####Tuple####
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [56]:
#####Sets
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

True
{'apple', 'orange', 'banana', 'cherry'}

In [57]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)
print(len(thisset))

{'apple', 'cherry'}
2

In [58]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [61]:
#####Dictionary
thisdict ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
thisdict ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [62]:
####lamda
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [73]:
cars = ["Ford", "Volvo", "BMW"]
cars[0]="Vol"
cars[0];cars[-3]
cars.append("Honda")
cars.pop(3)
cars.remove("Honda)
for x in cars:
  print(x)

'Vol'