# (Panda) Read and writing data_files

In [68]:
import os 
import numpy as np
import pandas as pd

In [5]:
os.getcwd() #Get working directory

'C:\\Users\\SHRIKANT\\Desktop'

In [4]:
os.chdir(r"C:\\Users\\SHRIKANT\\Desktop")  #Change working directory

In [ ]:
              #####READING DATA FILE IN PYTHON USING PANDA########

data=pd.read_csv('iris.csv',index_col=0,na_values=["??","###"]);data

In [ ]:
data=pd.read_excel('iris.xlsx',sheet_name='iris_data',index_col=0,na_values=["??","###"]);data

In [ ]:
data=pd.read_csv('iris.txt',delimiter=" ");data  #read text file with pd.csv

In [ ]:
data=pd.read_table('iris.txt',sep='\t');data  ###there are various delimiter like \t ,(tab),comma,blank_space

In [ ]:
spss=pd.read_spss('iris.sav');spss  #FOR PANDA >0.25 VERSION

In [ ]:
!pip install html5lib

In [4]:
import pandas as pd
from pandas import read_html
import html5lib

In [ ]:
mutual_fund = pd.io.html.read_html("https://www.moneycontrol.com/mutual-funds/best-funds/equity.html")
mutual_fund

                #####Writing DATA FILE IN PYTHON USING PANDA########

In [3]:
# list of name, degree, score 
nme = ["aparna", "pankaj", "sudhir", "Geeku"] ;deg = ["MBA", "BCA", "M.Tech", "MBA"] ;scr = [90, 40, 80, 98] 
dict = {'name': nme, 'degree': deg, 'score': scr}# dictionary of lists  
data=pd.DataFrame(dict);print(data)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [54]:
sdata=pd.DataFrame(data)
sdata.to_csv('data.csv')# saving the dataframe as csv to working directory.

In [ ]:
sdata.to_txt('data.txt')# saving the dataframe as txt to working directory.

In [ ]:
sdata.to_csv('data.csv')# saving the dataframe as txt to working directory.

In [ ]:
sdata.to_csv('file2.csv', header=False, index=False) #Saving CSV without headers and index.

In [ ]:
sdata.to_csv(r'C:\Users\Admin\Desktop\file3.csv', index=False) #Saving data to particular directory.

# Data_frame manipulation

In [24]:
sampl_data=data.copy(deep=False) #Shallow copy does affect modification on orignal data

In [25]:
sampl_data=data.copy(deep=True) #Deep copy does't affect modification on orignal data

In [ ]:
sample_data.index

In [ ]:
sample_data.columns

In [ ]:
sample_data.size

In [ ]:
sample_data.shape #Dimension of data_frame

In [ ]:
sample_data.memory_usage

In [ ]:
sample_data.ndim #Number of dimension

In [ ]:
sample_data.head(6)  #Default cases are first 5

In [ ]:
sample_data.tail(5)  #Last 5 cases

In [ ]:
sample_data.at[4,'Species']

In [ ]:
sample_data.iat[5,4]

In [ ]:
sample_data.loc[:,'Petal.Width']

In [ ]:
sample_data.loc[0:9,['Petal.Width','Sepal.Width','Species']]

In [ ]:
sample_data.columns

In [ ]:
newdata = DataFrame(sample_data, columns = ['Petal.Width','Sepal.Width','Species']) #Take subset of columns

In [ ]:
sample_data("Petal.Width", axis = 1, inplace = True) #drop columns

In [ ]:
sample_data.drop(["Petal.Width","Sepal.Width"], axis = 1, inplace = True)

In [ ]:
sample_data.drop([2,3], axis = 0, inplace = True)

# Data type in panda data_frame

In [26]:
data=pd.read_csv('iris.csv',index_col=0)

In [ ]:
data.dtypes #data_type of columns in data-frame

In [ ]:
data.get_dtype_counts()  #Count of unique data types

In [ ]:
data.select_dtypes(include=None,exclude=[float])#Select Columns from data based on data types

In [ ]:
data.info()

# Applying Filters to the Data Frames

In [62]:
data=pd.read_csv(r'C:\Users\SHRIKANT\Desktop\Python\Jupyter_Notebook\Data_sets\hart.csv')

In [ ]:
data[data.thalach>=162] # Numeric filter

In [ ]:
data[data.sex=="male"] # String filter for Equal to Condition

In [ ]:
data[data.sex!="male"] # String filter for Not Equal to Condition

In [ ]:
data[(data.sex=="male") & (data.thalach>=162)] # Filtering with Multiple Criterias. AND condition

In [ ]:
data[(data.sex=="male") | (data.thalach>=162)] # Filtering with Multiple Criterias. OR condition

In [ ]:
data[data.cp.isin(["typical", "asymptomatic", "non-anginal"])] #Using isin function to create OR condition

# Changing columns data_type

In [ ]:
import numpy as np
np.unique(data['Species'])

In [39]:
data=pd.read_csv('iris.csv',index_col=0)

In [9]:
data['Species']=data['Species'].astype('object')
#Converting data type

In [12]:
data['Sepal.Length']=data['Sepal.Length'].astype('object')
#Converting data type

In [41]:
data['Species'].replace('setosa',1,inplace=True)
data['Species'].replace('versicolor',2,inplace=True)
data['Species'].replace('virginica',3,inplace=True)

In [ ]:
np.unique(data['Species'])

In [42]:
data['Species']=data['Species'].astype('int64')

In [44]:
data['Species'].replace(1,'setosa',inplace=True)
data['Species'].replace(2,'versicolor',inplace=True)
data['Species'].replace(3,'virginica',inplace=True)

In [51]:
data.isnull().sum()

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [ ]:
data.Species=data.Species.str.upper()

In [ ]:
data.Species.str.replace("SETOSA", "SE")

# Sorting of Data

In [63]:
data=pd.read_csv(r'C:\Users\SHRIKANT\Desktop\Python\Jupyter_Notebook\Data_sets\hart.csv')

In [ ]:
data.trestbps.sort_values() #to Sort Ascending

In [ ]:
data.trestbps.sort_values(ascending = False) #to sort descending

In [ ]:
data.sort_values("trestbps") #to Sort Entire Data Frame Ascending

In [ ]:
data.sort_values("trestbps", ascending = False) #to Sort Entire Data Frame Ascending

In [ ]:
data.groupby("sex").thalach.agg(["sum", "mean","min", "max"])

In [61]:
data.groupby("sex").thalach.var()

sex
female    398.739691
male      582.307459
Name: thalach, dtype: float64

# Pivote_table

In [ ]:
pd.pivot_table(data,"thalach","num",aggfunc=np.mean) #np.count_nonzero/np.sum...etc

In [ ]:
pd.pivot_table(data,"thalach","num","sex", aggfunc=np.mean,margins=True,margins_name="Overall_Average") #np.count_nonzero/np.sum...etc

In [77]:
pd.pivot_table(data,"thalach",["num","sex"],"fbs", aggfunc=np.mean,margins=True,margins_name="Overall_Average") #np.count_nonzero/np.sum...etc

fbs                          False        True  Overall_Average
num             sex
0               female  154.787879  145.666667       154.027778
                male    161.920000  161.176471       161.782609
1               female  144.263158  139.666667       143.160000
                male    137.928571  141.312500       138.403509
Overall_Average         149.682171  149.177778       149.607261